

h1,h2,h3,h4 {

font-family: 'Open Sans', sans-serif;
font-weight: bold;
font-size: 1.8rem;
padding-bottom: -9%;

}


.container {
  display: flex; /* or inline-flex */
}


#div1, #div2, #div3{
margin: auto;
font-size: 3rem;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
height: 10%;
border-style: solid;
border-width: 2px;
border-radius: 10px

}

#div1{
background-color: red;
flex-grow: 1; 
}


#div2{
background-color: green;
flex-grow: 1; 
}

#div3{
background-color: blue;
flex-grow: 1; 
}


button, #gasInput, p {
	font-family: 'Open Sans', sans-serif;
  	padding: 2% 2% 2% 2%;
	font-size: 1.9em;
	
	

}

#gas {
font-size:5rem;


}



button {
	background-color: white;
	border-width: 2px;
	border-style: solid;
}


button:hover{
background-color: black;
color:white;
border-style: solid;

}



#main {
margin: auto;
 text-align:center;
  width: 80%;

}



#timeSeries, #neighborhoodTime {
	height: 400px;

}

#overview {
display: none;

}

#googlemap {

	float:right;
}

#highlight {

  background-color: yellow;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  opacity: .8;
  

}



img{
height: 90px;

}